.git
.github
.pytest_cache
__pycache__
*.pyc
*.pyo
*.pyd
.env
.venv
venv
dist
build
node_modules
ci_cd
data
experiments
mlruns
artifacts
deployments/*
!deployments/current/
!deployments/current/model-bundle/
!deployments/current/model-bundle/**
!deployments/current/metadata/
!deployments/current/metadata/**
